<div class="action">
  <a href="/docs/examples.html" class="action__item">
    <div class="action__logo">
      <img src="img/map.png" alt="Examples">
    </div>
    <h3 class="action__header">Examples</h3>
  </a>
  <a href="/data/download.html" class="action__item">
    <div class="action__logo">
      <img src="img/download.png" alt="Download MBTiles">
    </div>
    <h3 class="action__header">Download</h3>
  </a>
  <a href="/docs/deploy.html" class="action__item">
    <div class="action__logo">
      <img src="img/docker.png" alt="Deployment with Docker">
    </div>
    <h3 class="action__header">Deploy</h3>
  </a>
</div>
