<h3>
<a id="contributors" class="anchor" href="#contributors" aria-hidden="true"><span class="octicon octicon-link"></span></a>Contributors</h3>

<ul>
  <li>Manuel Roth <a href="https://github.com/manuelroth" class="user-mention">@manuelroth</a></li>
  <li>Lukas Martinelli <a href="https://github.com/lukasmartinelli" class="user-mention">@lukasmartinelli</a></li>
  <li>Stefan Keller <a href="https://github.com/sfkeller" class="user-mention">@sfkeller</a></li>
  <li>Petr Pridal <a href="https://github.com/klokan" class="user-mention">@klokan</a></li>
</ul>

<div class="contributor__gallery">
<a href="http://www.klokantech.com/">
<img class="contributor__image" src="img/klokantech.png" alt="Klokan Technologies"/>
</a>
<a href="http://www.ifs.hsr.ch/Geometa-Lab.12520.0.html">
<img class="contributor__image" src="img/hsr.png" alt="Geometalab HSR"/>
</a>
</div>
