# Runs on pull requests against master, and on master branch

name: Haskell Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches: [ master ]
    paths:
      - '.github/workflows/haskell.yml'
      - 'cabal.project'
      - 'hadolint.cabal'
      - 'app/**'
      - 'src/**'
      - 'test/**'

jobs:
  hadolint:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        include:
        - os: ubuntu-latest

    steps:

    - name: Check out
      uses: actions/checkout@v4


    - name: Setup Haskell
      id: setup-haskell-cabal
      uses: haskell-actions/setup@v2
      with:
          ghc-version: 9.8


    - name: Update Cabal Index
      run: cabal update

    - name: Freeze
      run: cabal freeze

    # cache

    - name: Cache store
      uses: actions/cache@v3.3.1
      with:
        path: ${{ steps.setup-haskell-cabal.outputs.cabal-store }}
        key: ${{ runner.os }}-${{ hashFiles('cabal.project.freeze') }}

    #actions

    - name: Build
      run: |
        cabal configure --enable-tests
        cabal build

    - name: Test
      run: |
        cabal test all --test-show-details=direct
      env:
        HSPEC_OPTIONS: --color
